/* TODO create a nice css template that is well commented */

/* Center all Images Responsive */
/* .pubwriter img {
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  } */

.fa-amazon {
  color: orange;
}
